<br> <br> <br> <br>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<link rel="stylesheet" href="/css/lapindex.css">
<div class="body" style="background-color:  rgb(235, 231, 231); width:95%; margin:auto;">
    <br> <br>
    <h1 class="about title" style="text-align: center;font-family: 'Audiowide', sans-serif;">About Me</h1>
    <p class="p-bio subtitle" style="text-align: center;">
        <strong>M</strong>thobisi <strong>N</strong>gubane.
    </p>

    <p class="p-bio subtitle" style="text-align: center;">
        <a target="_blank" href="https://github.com/Mthobisi-za"><i class="fab fa-github">Github Profile</i> </a>

    </p>
    <div class="bio" style="width: 95%; margin: auto;">
        <div class="pic" style="text-align: center;">
            <img src="/images/mtho.jpg"
                alt="profile" class="profile" style="width: 90%; border-radius: 30px;">
        </div>
        <div class="text">
            <p class="p-bio">
            <ul>
                <li class="li"> I am a Full Stack Developer</li>
                <li class="li">Content Creator</li>
                <li class="li">SEO</li>
            </ul>

            </p> <br>
            <p class="p-bio subtitle" style="font-family: 'Audiowide', sans-serif;text-align: center;">
                <strong><i>The Skills That I Use Daily</i> </strong>
            <div class="holder">
                <div class="left">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Postgresql</li>
                    <li>Firebase</li>
                    <li>Bootstrap</li>
                </div>
                <div class="right">
                    <li>NodeJs</li>
                    <li>Unit Testing - Travis CLI</li>
                    <li>Heroku Cli</li>
                    <li>Express</li>
                    <li>React</li>
                    <li>Bulma Css</li>
                </div>
            </div>
            <br>
            </p>
        </div>
    </div> <br>
    <div class="extraSkills" style="width: 95%; margin: auto;">
        <p class="p-bio subtitle" style="text-align: left;font-family: 'Audiowide', sans-serif;">
            <strong><i>Extra Skills</i> </strong>
        </p>
        <div class="skills" style=" display: flex;row-gap: 10px;column-gap: 2%;">
            <p>Wamp server</p>
            <p>Xampp server</p>
            <p>React Native</p>
            <p>Canva.com</p>
            <p>Figma</p>
            <p>Wordpress</p>
            <p>Axios Api</p>
        </div>
    </div>
    <br> <br> <br>
</div>